@charset "UTF-8";
body,
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-white);
  margin: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
}

body header {
  display: block;
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  width: 230px;
  height: auto;
  background-color: var(--color-content);
  float: left;
  overflow: hidden;
  z-index: 9999;
  text-align: center;
  border-radius: 20px;
  border: 2px solid #03a9f4;
  box-shadow: 0 10px 40px -10px #03a9f4;
  padding: 0;
}

@media (max-width: 1024px) {
  body header {
    display: block;
    width: 94.5%;
    min-height: 90px;
    padding: 0;
    position: relative;
    background-color: var(--color-content);
    top: 10px;
    right: 10px;
    left: 10px;
    margin-bottom: 40px;
  }
}
.main {
  width: 100%;
  height: 100%;
  padding-left: 250px;
  box-sizing: border-box;
  position: relative;
  z-index: 55;
  margin-bottom: 30px;
  clear: both;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.main .div_title {
  width: 100%;
  text-align: center;
  margin: 20px 0 0 0;
}

.main .div_title h1 {
  font-family: YouYuan, KaiTi, Microsoft Yahei;
  color: var(--color-a);
  font-weight: bold;
  margin: 0;
}

@media (max-width: 1024px) {
  .main {
    padding-left: 0;
  }
}
.a_animation span {
  position: relative;
  font-family: YouYuan, KaiTi, Microsoft Yahei;
  font-weight: bold;
  color: var(--color-a);
}

body header .logo {
  margin-top: 30px;
}

body header input {
  display: none;
}

body header label {
  display: none;
}

body header nav ul {
  margin-left: 50px;
  display: block;
  overflow: hidden;
  margin-top: 50px;
  list-style: none;
}

body header nav ul li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

body header nav ul li .icon {
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 8px;
}

body header nav ul li svg {
  min-width: 18px;
  min-height: 18px;
  width: 18px;
  height: 18px;
}

body header nav ul li a {
  margin-left: 10px;
  color: var(--color-a);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 1px;
}

body header nav ul li a:hover,
body header nav ul li a.selected {
  color: #00a0e9;
  display: block;
  text-align: center;
}

body header .footer {
  position: absolute;
  bottom: 15px;
  margin-bottom: 5px;
  margin-left: 60px;
}

body header .rights p {
  color: var(--color-a);
  font-size: 11px;
  letter-spacing: 1px;
}

@media (max-width: 1024px) {
  body header .logo {
    float: left;
    margin: 20px 0 0 20px;
  }

  body header .footer {
    display: none;
  }

  body header input {
    display: none;
  }

  body header label {
    display: block;
    float: right;
    margin: 20px 20px 0 0;
  }

  body header label img {
    width: 40px;
    height: 40px;
  }

  body header nav {
    width: 100%;
    z-index: 9999;
  }

  body header nav ul {
    list-style: none;
    position: relative;
    width: 100%;
    margin-left: 0px;
  }

  body header nav ul li {
    margin-bottom: 0px;
  }

  body header nav ul li .icon {
    display: none;
  }

  body header nav ul li a {
    display: block;
    font-family: YouYuan, KaiTi, Microsoft Yahei;
    width: 100%;
    margin-left: 0px;
    padding: 15px 0;
    text-align: center;
    color: var(--color-a);
    font-size: 18px;
    font-weight: bolder;
    text-decoration: none;
    border-bottom: 5px solid var(--color-white);
    background-color: var(--color-blue);
    border-radius: 30px;
  }

  :checked ~ nav {
    display: none;
  }
}
.link_item {
  width: 30%;
  max-width: 450px;
  margin-left: 30px;
  margin-top: 30px;
}

.link_item .content {
  overflow: hidden;
  text-align: center;
  height: 250px;
  border-radius: 20px;
  border: 2px solid #2bff00;
  box-shadow: 0 10px 40px -10px #5eff00;
  background-color: var(--color-content);
  padding: 20px 25px;
  transition: 0.5s linear;
}

.link_item .content:hover {
  box-shadow: 0 10px 40px -10px #6200ff;
  border: 2px solid #4c00ff;
  transform: translate3d(0px, -8px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  transform-style: preserve-3d;
  transition: 0.2s linear;
  cursor: pointer;
}

.link_item .content .logo {
  width: 58px;
  min-width: 58px;
  min-height: 58px;
  height: 58px;
  border-radius: 5px;
}

.link_item .content .title {
  font-weight: 550;
  font-size: 19px;
  margin-top: 12px;
}

.link_item .content .title img {
  width: 18px;
  height: 18px;
}

.link_item .content .description {
  margin-top: 12px;
  color: var(--color-a);
  font-size: 13px;
  line-height: 18px;
}

.link_item .content .category {
  background-color: #2196f3;
  color: #2196f3;
  display: inline-block;
  overflow: visible;
  margin: 0px;
  padding: 5px 10px;
  border-radius: 20px;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7));
  font-weight: 500;
  font-size: 12px;
}

@media (max-width: 1250px) {
  .link_item {
    width: 45%;
  }
}
@media (max-width: 1024px) {
  .main {
    padding-left: 15px;
    padding-right: 15px;
  }

  .link_item {
    width: 48%;
    margin: 0 auto;
    margin-top: 30px;
    margin-left: 0;
  }
}
@media (max-width: 600px) {
  .main {
    padding-left: 0px;
    padding-right: 0px;
  }

  .link_item {
    width: 100%;
    max-width: 560px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
.wrapper {
  width: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.content {
  color: #4b4848;
  text-align: center;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.content h1 {
  font-family: YouYuan, KaiTi, Microsoft Yahei;
  font-size: 24px;
  color: var(--color-a);
  text-align: center;
}

.content p {
  color: var(--color-a);
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 15px;
  text-align: center;
}

.wrapper .commentContent {
  margin: 40px auto 0 auto;
  max-width: 980px;
}

.div-span {
  color: var(--color-a);
  font-size: 15px;
}

/*谷歌、safari、qq浏览器、360浏览器滚动条样式*/
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: auto;
  height: auto;
  background-color: #202124;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #202124;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #00a0e9;
}

/*滑块效果*/
::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #ffee00;
}

/*IE滚动条颜色*/
html {
  scrollbar-face-color: #15ff00;
  /*滚动条颜色*/
  scrollbar-highlight-color: #000;
  scrollbar-3dlight-color: #000;
  scrollbar-darkshadow-color: #000;
  scrollbar-Shadow-color: #00a0e9;
  /*滑块边色*/
  scrollbar-arrow-color: rgba(0, 0, 0, 0.4);
  /*箭头颜色*/
  scrollbar-track-color: #ffee00;
  /*背景颜色*/
}

/*返回顶部按钮*/
.cd-top {
  z-index: 99999;
  display: inline-block;
  border-radius: 55px 55px 10px 55px;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 40px;
  right: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  /* image replacement properties */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: #008cff url(../img/header/cd-top.svg) no-repeat center 50%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0s, visibility 0s 0.3s;
}

.cd-top.cd-is-visible,
.cd-top.cd-fade-out,
.no-touch .cd-top:hover {
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}

.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: 0.5;
}

.no-touch .cd-top:hover {
  background-color: #ffee00;
  opacity: 1;
}

@media only screen and (min-width: 768px) {
  .cd-top {
    right: 20px;
    bottom: 20px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-top {
    height: 60px;
    width: 60px;
    right: 30px;
    bottom: 30px;
  }
}
:root {
  --color-white: #ffffff;
  --color-content: rgb(226, 255, 254);
  --color-a: #000000;
  --color-blue: #03a9f4;
}

/*深色模式*/
@media (prefers-color-scheme: dark) {
  :root {
    --color-white: #000000;
    --color-content: #202124;
    --color-a: #ffffff;
    --color-blue: #202124;
  }
}/*# sourceMappingURL=style.css.map */